<section>
    <div class="flex flex-col items-center max-w-4xl gap-6 px-6 mx-auto text-center md:gap-10 md:px-16">
        <h1 class="text-6xl leading-none uppercase font-display md:text-8xl">{{title}}</h1>
        <p class="font-sans text-xl leading-8 md:text-2xl md:leading-10">{{about_SO}}</p>
    </div>
</section>
<b class="mx-180 text-green-800 text-6xl font-display whitespace-nowrap"> Enten Mutter </b>
<div class="flex mx-120 -mt-20 gap-20">
    <img src="http://random-thoughts.test/assets/duck.png" alt="" class="object-cover w-40 h-72 rounded-2xl">
    <p class="object-cover w-150 h-72"> Hier steht dann ein Text. Dieser Text ist jetzt extra lang und geht über mehrere Zeilen. Das kann man mal so mal so machen aber ich habe mich jetzt halt einfach für Content entschieden. Man bin ich gut in einfach irgendwas schreiben. Gibts das als Beruf? Lorem Ipsumerin oder bin ich dann einfach Lorem Ipsum das wäre doch eine gute Frage?</p>
</div>
<b class="mx-120 text-green-800 text-6xl font-display"> Erpholt Vogel </b>
<div class="flex mx-120 -mt-20 gap-20">
    <p class="object-cover w-150 h-72"> Es ist einfach eine Ente die zu spät kommt oder? Wenn der dann entlich bei seinen Freunden ankommt sagen alle na Entlich! und sind erleichtert aber Enten sind bekanntlich ja auch voll auf Fakenews abgestimmt also was soll man da genau machen? </p>
    <img src="http://random-thoughts.test/assets/duck.png" alt="" class="object-cover w-40 h-72 rounded-2xl">
</div>
