<section>
    <div class="flex flex-col items-center max-w-4xl gap-6 px-6 mx-auto text-center md:gap-10 md:px-16">
        <h1 class="text-6xl leading-none uppercase font-display md:text-8xl">{{title}}</h1>
        <p class="font-sans text-xl leading-8 md:text-2xl md:leading-10">Hier steht dann um was es überhaupt geht. Was interessiert uns eigentlich? Es ist doch alles spannend oder nicht? Ich schreibe hier einfach einen Text, damit ich da ein wenig Fleisch am Knochen habe dann kann ich da wirklich schauen wie es aussieht.</p>
    </div>
</section>

<section>
    <div class="grid grid-cols-1 gap-8 px-6 mx-auto md:px-16 max-w-8xl md:grid-cols-2 xl:grid-cols-3">
        {{ collection from="article" }}
            <article class="{{ first ?= 'md:col-span-2' }}">
                <a href="{{url}}"
                    class="flex flex-col h-full overflow-hidden transition ease-out bg-white shadow-lg rounded-xl hover:-translate-y-1 hover:shadow-xl">
                    <img src="{{ image }}" alt="" class="object-cover w-full h-72 bg-hot-pink">
                    <div class="flex flex-col justify-between flex-1 gap-4 p-6 md:gap-5 md:p-8">
                        <h2 class="font-sans text-xl font-semibold md:text-2xl">{{ title }}</h2>
                        <p class="font-sans text-xs">{{ date | format('d.m.y') }}</p>
                    </div>
                </a>
            </article>
        {{ /collection }}


    </div>
</section>
