<!doctype html>
<html lang="{{ site:short_locale }}">

    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>{{ title ?? site:name }}</title>
        {{ vite src="resources/js/site.js|resources/css/site.css" }}
        <link href="https://fonts.googleapis.com/css2?family=Londrina+Solid:wght@900&family=Poppins:ital,wght@0,400;0,600;1,400;1,700&display=swap" rel="stylesheet">
    </head>

    <body class="flex flex-col justify-between min-h-screen font-sans leading-normal text-black bg-linen">
        <header>
            <nav>
                <div class="flex items-start justify-between px-6 py-6 font-sans text-base font-semibold md:text-xl md:px-16">
                    <a href="/">Random Thoughts</a>
                    <div class="flex items-center gap-4 md:gap-8">
                        <a href="/">Blog</a>
                        <a href="/about">About</a>
                    </div>
                </div>
            </nav>
        </header>
        <main class="grid gap-16 py-10 md:gap-20 md:py-20 lg:gap-24">
            {{ template_content }}
        </main>
        <footer>
            <div class="flex items-start justify-center px-6 py-10 font-sans text-sm md:px-16">
                <p>&copy; 2026 Random Thoughts</p>
            </div>
        </footer>
    </body>

</html>
